apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deploy
  labels:
    apps: nginx-deploy
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: nginx-deploy
  replicas: 3
  template:
    metadata:
      name: nginx
      labels: 
        app: nginx-deploy
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
